appdirs==1.4.2
Django==1.11.29
django-multiselectfield
django-ckeditor==5.2.1
gunicorn==19.7.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
pyparsing==2.2.0
six==1.10.0
django-dotenv==1.4.2
django-fontawesome==1.0
xlsxwriter==1.1.2
django-logentry-admin==1.0.4
django-admin-list-filter-dropdown==1.0.2
django-admin-rangefilter==0.3.9
raven==6.10.0
