{% extends 'base.html' %} {% load static %} {% block navigation %} {% include 'navbar.html' %} {% endblock %} {% block body %}
<div class="container">
    <style>
        .centralcontent .panel-default>.panel-heading {
            background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%) !important;
        }

        .tab-content {
            text-align: justify;
        }
    </style>
    <div class="row">
        {% block left_nav %} {% include 'left_menu.html' %} {% endblock %} {% block main_body %}
        <div class="col-md-7 col-sm-12 col-xs-12 col-lg-7 centralcontent">
            <script type="text/javascript">
                $('#factab a').click(function(e) {
                    e.preventDefault()
                    $(this).tab('show')
                })
            </script>
            <ul class="nav nav-tabs" id="factab">
                <li class="active">
                    <a href="#laboratories" aria-controls="laboratories" role="tab" aria-expanded="true" data-toggle="tab">Laboratories</a>
                </li>
                <li>
                    <a href="#library" aria-controls="library" aria-expanded="false" role="tab" data-toggle="tab">Library</a>
                </li>
                <li>
                    <a href="#hostel" aria-controls="hostel" aria-expanded="false" role="tab" data-toggle="tab">Hostel</a>
                </li>
                <li>
                    <a href="#sports" aria-controls="sports" aria-expanded="false" role="tab" data-toggle="tab">Sports</a>
                </li>
                <li>
                    <a href="#medical" aria-controls="medical" aria-expanded="false" role="tab" data-toggle="tab">Medical</a>
                </li>
            </ul>
            <div class="tab-content" style="padding:10px;">
                <div role="tabpanel" class="tab-pane active" id="laboratories">
                    <div class="panel-group" id="accordion" aria-multiselectable="true">
                        {% if 'CSE' in department_labs %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#cselab">Department of Computer Science & Engineering Laboratories</a>
                            </div>
                            <div id="cselab" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4 class="labHead">Department of Computer Science & Engineering</h4>
                                    {{ department_labs.CSE|safe }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if 'IT' in department_labs %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#itlab">Department of Information Technology Laboratories</a>
                            </div>
                            <div id="itlab" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4 class="labHead">Department of Information Technology</h4>
                                    {{ department_labs.IT|safe }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if 'ECE' in department_labs %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#ecelab">Department of Electronics and Communication Engineering</a>
                            </div>
                            <div id="ecelab" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4 class="labHead">Department of Electronics and Communication Engineering</h4>
                                    {{ department_labs.ECE|safe }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if 'EEE' in department_labs %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#eeelab">Department of Electrical and Electronics Engineering</a>
                            </div>
                            <div id="eeelab" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4 class="labHead">Department of Electrical and Electronics Engineering</h4>
                                    {{ department_labs.EEE|safe }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                        {% if 'APPLIED SCIENCES' in department_labs %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#aslab">Department of Applied Sciences</a>
                            </div>
                            <div id="aslab" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <h4 class="labHead">Department of Applied Sciences</h4>
                                    {{ department_labs.APPLIED_SCIENCES|safe }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="library">
                    <br>
                    <p class="notlabhead">Central Library</p>
                    <br>
                    <p>
                        Maharaja Surajmal Central Library supports the teaching & research programmes of three Institutes namely, Maharaja Surajmal Institute & Maharaja Surajmal Institute of Technology. All students, faculty members and
                        employees of the Institute are entitled to make use of the Library facilities. The Library has a well-stocked fully computerized library with latest editions of books by eminent authors & is having a huge collection of books on
                        education, management, computer science, engineering, pharmacy, science and humanities to cater to the needs and requirements of the faculty as well as students.
                    </p>
                    <br>
                    <p>
                        Library has also a Research Wing for scholars where scholars are getting special reference material and rare collections of manuscripts for their research work on community.
                    </p>
                    <p class="notlabhead">BOOK BANK</p>
                    <p>
                        Students can avail Book Bank facility which was initiated during 2006-2007. All the students joining the institute are being given a set of text books every year. This has come as a boon to the students who do not have to buy costly books for their academic
                        preparations.
                    </p>
                    <br>
                    <p>For more details, please visit: </p>
                    <p><a href="https://sites.google.com/site/centrallibrarymaharajasurajmal/">https://sites.google.com/site/centrallibrarymaharajasurajmal/</a></p>
                </div>
                <div role="tabpanel" class="tab-pane" id="hostel">
                    <br>
                    <p class="notlabhead">HOSTEL AND CANTEEN</p>
                    <br>
                    <p>
                        <span class="notlabhead">Hostel</span>: The Maharaja Mahendra Pratap Hostel provides accommodation to around 200 boys and 100 girls in a spacious and elegant four-storeyed building with all connected facilities. Hygienic and nutritious
                        food is provided at a reasonable cost.
                    </p>
                    <br>
                    <p>
                        <span class="notlabhead">Staff Accomodation</span>: Quarters are provided to the teaching and non teaching staff with all latest facilities on reasonable charges. All the quarters are well furnished.
                    </p>
                    <br>
                    <p>
                        <span class="notlabhead">Canteen</span>: The canteen of MSIT is well organized having a seating capacity of 60-70 persons simultaneously with clean surroundings. The eatables of good quality are available at reasonable cost.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="sports">
                    <br>
                    <p class="notlabhead">SPORTS</p>
                    <p>
                        Institute has well maintained play ground for various games such as football,volleyball, cricket, badminton etc. Facilities for indoor games such as carrom, table tennis, chess and chinese checkers are also available. These extra curricular activities
                        help in building up personality and confidence in the students. Bank: The institute has on campus banking facility .
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="medical">
                    <br>
                    <p class="notlabhead">Medical</p>
                    <p>
                        <div><b>Ms. Preeti Sinha</b><br>Psychologist</div>
                        
                        <br>
                        <div><b>Janakpuri Super Speciality Hospital <br>C-2B Janakpuri </b><br>Ph. - 01125552023</div>
                    </p>
                </div>
            </div>
        </div>
        {% endblock %} {% block right_nav %} {% include 'right_menu.html' %} {% endblock %}
    </div>
</div>
{% endblock %}
